---
export interface Props {
  title: string;
  body: string;
  href: string;
}

const { href, title, body } = Astro.props;
---

<div class="card w-1/5 bg-neutral shadow-xl">
  <a href={href}>
    <figure>
      <img
        src="https://placeimg.com/450/250/arch"
        alt="Thumbnail for linked site"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">
        {title}
        <div class="badge badge-primary">NEW</div>
      </h2>
      <p>{body}</p>
      <div class="card-actions justify-end">
        <div class="badge badge-outline">Fashion</div>
        <div class="badge badge-outline">Products</div>
      </div>
    </div>
  </a>
</div>

<style>
  .card:is(:hover, :focus-within) h2 {
    color: #ffffff;
  }
</style>
