---
import { getHomePermalink } from '@src/utils/permalinks';
---

<div
  class="container flex flex-col items-center justify-center px-5 mx-auto m-36"
>
  <div class="max-w-md text-center">
    <h2 class="mb-8 font-bold text-9xl">
      <span class="">Error</span>
      <span class="text-accent">404</span>
    </h2>
    <p class="text-3xl font-semibold md:text-3xl">
      Sorry, this page doesn't exist.
    </p>
    <p class="mt-4 mb-8 text-lg text-gray-600 dark:text-slate-400">
      But dont worry, you can find plenty of other things on my homepage.
    </p>
    <a
      rel="noopener noreferrer"
      href={getHomePermalink()}
      class="btn btn-accent">Back to homepage</a
    >
  </div>
</div>

<style>
  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 60ch;
  }
</style>
