---
import { getHomePermalink } from '@src/utils/permalinks';
---

<header class="sticky top-0 z-40 flex-none mx-auto w-full glass">
  <div class="navbar bg-neutral">
    <div class="flex-1 ml-4">
      <a
        href={getHomePermalink()}
        rel="noreferrer noopener"
        class="normal-case text-xl text-neutral-content font-semibold">Rodis</a
      >
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li tabindex="0">
          <a rel="noreferrer noopener" class="hover:bg-transparent">
            Projects
            <svg
              class="fill-current"
              xmlns="http://www.w3.org/2000/svg"
              width="20"
              height="20"
              viewBox="0 0 24 24"
              ><path
                d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"
              ></path>
            </svg>
          </a>
          <ul class="p-2 bg-base-300">
            <li>
              <a
                href="https://github.com/Dissurender/shelf-life-backend"
                rel="noreferrer noopener">Shelf Life</a
              >
            </li>
            <li>
              <a href="https://github.com/Dissurender" rel="noreferrer noopener"
                >Github</a
              >
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>
