---
---

<div class="hero min-h-screen">
  <div class="hero-content text-center">
    <div class="max-w-md">
      <h1 class="text-5xl font-bold mb-2">Rhyn Ogg</h1>
      <h2 class="leading-tighter tracking-tighter mb-8">
        Software Engineer, Tech Enthusiast
      </h2>
      <div class="divider"></div>
      <p class="py-6 mb-8">
        <span class="hidden sm:inline">
          Focused on developing robust web applications, <br /> whether solo or in
          a team. What you can expect with me on your team is a solid foundation
          of well-written, <br /> well documented code, a strong debugger, and a
          well-rounded developer.
        </span>
      </p>
      <a
        class="btn btn-wide btn-primary mb-4"
        href="https://github.com/Dissurender"
        target="_blank"
        rel="noreferrer noopener">GitHub</a
      >
      <a
        class="btn btn-wide btn-accent mb-4"
        href="https://www.linkedin.com/in/rhyn-ogg/"
        target="_blank"
        rel="noreferrer noopener">LinkedIn</a
      >
    </div>
  </div>
</div>
