---
---


  <div class="hero min-h-screen">
    <div class="hero-content text-center">
      <div class="max-w-md">
        <h1 class="text-5xl font-bold mb-2">Rhyn Ogg</h1>
        <h2 class="leading-tighter tracking-tighter mb-4">Software Engineer</h2>
        <p class="py-6">
          AstroWind is a production ready template to start your new website
          using Astro + Tailwind CSS. It has been designed following Best
          Practices, SEO, Accessibility, <span class="hidden sm:inline"
            >Dark Mode, Great Page Speed, image optimization, sitemap generation
            and more.</span
          >
        </p>
        <button class="btn btn-wide btn-accent"
          ><a
            href="https://github.com/Dissurender"
            target="_blank"
            rel="noreferrer noopener">GitHub</a
          >
        </button>
      </div>
    </div>
  </div>


<style>

</style>
