---
import Layout from '../layouts/Layout.astro';
import Card from '@lib/widgets/Card.astro';
import Hero from '@lib/widgets/Hero.astro';
import Footer from '@lib/widgets/Footer.astro';
import shelflife from '../public/img/shelflife.png';

const placeholder = 'https://placeimg.com/450/250/arch';
---

<Layout title="Rodis">
  <main class="mx-auto max-w-2xl">
    <Hero />
  </main>
  <div class="flex justify-around mx-auto max-w-7xl mb-4">
    <Card
      href="https://github.com/Dissurender/shelf-life-backend"
      image={shelflife || placeholder}
      title="Shelf Life"
      body="My personal reading list and thoughts on books."
      tags={['MVC']}
    />
    <Card
      href="#"
      image={placeholder}
      title="Genrenora"
      body="Discover genre attributes for Spotify songs"
      tags={['Astro', 'SSR']}
    />
  </div>
  <Footer />
</Layout>
