---
import Layout from '../layouts/Layout.astro';
import Card from '@lib/widgets/Card.astro';
import Hero from '@lib/widgets/Hero.astro';
import Footer from '@lib/widgets/Footer.astro';
---

<Layout title="Rodis">
  <main class="mx-auto p-4 max-w-2xl">
    <Hero />
  </main>
  <div class="flex justify-around my-8 mx-auto max-w-7xl">
    <Card
      client:visible
      href="/books/"
      title="Shelf Life"
      body="My personal reading list and thoughts on books."
      tags={["MVC"]}
    />
    <Card
      client:visible
      href="#"
      title="Genrenora"
      body="Discover genre attributes for Spotify songs"
      tags={["Astro","SSR"]}
    />
    <Card
      client:visible
      href="#"
      title="Themes"
      body="Explore a galaxy of community-built starter themes."
      tags={[]}
    />
  </div>
  <Footer />
</Layout>
